<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77689841222-fvqac0kunmg18oesq97soff09l81vd9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77689841222-fvqac0kunmg18oesq97soff09l81vd9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAermhg6hoby-F0QgjGNF9u529py7U9f14</string>
	<key>GCM_SENDER_ID</key>
	<string>77689841222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rememberme.go</string>
	<key>PROJECT_ID</key>
	<string>apps-f390f</string>
	<key>STORAGE_BUCKET</key>
	<string>apps-f390f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77689841222:ios:495f0b5b98f3fb30bf4c47</string>
</dict>
</plist>